.nameList {
    align-content: left;
    max-width: 320px;
    /* border: 1px solid ; */
    height: 280px;
    text-align: center;
  }
  .restaurant-image {
    width: 100%;
    height: 200px;
  }
  text-corner {
    font-size: 13px;
    position: relative;
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 185px;
    left: 35%;
    border: 1px solid;
    border-radius: 40px;
    background: rgb(224, 174, 129);
  }
  
  .inlineStyle {
    position: relative;
    display: inline-flex;
  text-align: left;
  }
  text {
    font-size: 15px;
    text-align: left;
  }
  